<a href="https://colab.research.google.com/github/beggy22/modulo_10-connecting-to-a-sql-database-project-tutorial/blob/main/SQL_con_SQLITE_final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [56]:
import os
from sqlalchemy import create_engine, text
import sqlite3

# Configuración del nombre de la base de datos
db_name = 'mydatabase.db'

# Eliminar la base de datos si existe
if os.path.exists(db_name):
    os.remove(db_name)
    print(f"Base de datos {db_name} eliminada.")
else:
    print(f"No se encontró la base de datos {db_name}.")

# Crear la conexión a la base de datos
engine = create_engine(f'sqlite:///{db_name}')
print("Ejecutando sentencias de creación de tablas...")

# Ejecutar sentencias de creación de tablas
with engine.connect() as connection:
    with open('create.sql') as file:
        create_sql = file.read()
        statements = create_sql.split(';')
        for statement in statements:
            if statement.strip():
                try:
                    connection.execute(text(statement))
                    print(f"Ejecución exitosa de la sentencia: {statement.strip()}")
                except Exception as e:
                    print(f"Error al ejecutar la sentencia: {statement.strip()}")
                    print(e)

print("Tablas creadas en la base de datos.")
print("Insertando datos en las tablas...")

# Insertar datos en las tablas
with engine.connect() as connection:
    trans = connection.begin()  # Iniciar una transacción
    try:
        with open('insert.sql') as file:
            insert_sql = file.read()
            statements = insert_sql.split(';')
            for statement in statements:
                if statement.strip():
                    connection.execute(text(statement))
                    print(f"Ejecución exitosa de la sentencia: {statement.strip()}")
        trans.commit()  # Confirmar la transacción
    except Exception as e:
        trans.rollback()  # Revertir la transacción en caso de error
        print(f"Error al ejecutar la sentencia: {statement.strip()}")
        print(e)

print("Datos insertados en las tablas.")

# Verificar los datos en todas las tablas
conn = sqlite3.connect(db_name)
cursor = conn.cursor()

# Obtener el listado de todas las tablas
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

# Consultar y mostrar los datos de cada tabla
for table in tables:
    table_name = table[0]
    print(f"\nDatos en la tabla {table_name}:")
    cursor.execute(f"SELECT * FROM {table_name}")
    rows = cursor.fetchall()
    if rows:
        for row in rows:
            print(row)
    else:
        print(f"No se encontraron datos en la tabla {table_name}.")

cursor.close()
conn.close()

Base de datos mydatabase.db eliminada.
Ejecutando sentencias de creación de tablas...
Ejecución exitosa de la sentencia: CREATE TABLE publishers(
    publisher_id INT NOT NULL,
    name VARCHAR(255) NOT NULL,
    PRIMARY KEY(publisher_id)
)
Ejecución exitosa de la sentencia: CREATE TABLE authors(
    author_id INT NOT NULL,
    first_name VARCHAR(100) NOT NULL,
    middle_name VARCHAR(50) NULL,
    last_name VARCHAR(100) NULL,
    PRIMARY KEY(author_id)
)
Ejecución exitosa de la sentencia: CREATE TABLE books(
    book_id INT NOT NULL,
    title VARCHAR(255) NOT NULL,
    total_pages INT NULL,
    rating DECIMAL(4, 2) NULL,
    isbn VARCHAR(13) NULL,
    published_date DATE,
    publisher_id INT NULL,
    PRIMARY KEY(book_id),
    CONSTRAINT fk_publisher FOREIGN KEY(publisher_id) REFERENCES publishers(publisher_id)
)
Ejecución exitosa de la sentencia: CREATE TABLE book_authors (
    book_id INT NOT NULL,
    author_id INT NOT NULL,
    PRIMARY KEY(book_id, author_id),
    CONSTRAINT fk_book FOREIGN KEY(book_id) REFERENCES books(book_id) ON DELETE CASCADE,
    CONSTRAINT fk_author FOREIGN KEY(author_id) REFERENCES authors(author_id) ON DELETE CASCADE
)
Tablas creadas en la base de datos.
Insertando datos en las tablas...
Ejecución exitosa de la sentencia: -- publishers
INSERT INTO publishers(publisher_id, name) VALUES (1, 'O Reilly Media')
Ejecución exitosa de la sentencia: INSERT INTO publishers(publisher_id, name) VALUES (2, 'A Book Apart')
Ejecución exitosa de la sentencia: INSERT INTO publishers(publisher_id, name) VALUES (3, 'A K PETERS')
Ejecución exitosa de la sentencia: INSERT INTO publishers(publisher_id, name) VALUES (4, 'Academic Press')
Ejecución exitosa de la sentencia: INSERT INTO publishers(publisher_id, name) VALUES (5, 'Addison Wesley')
Ejecución exitosa de la sentencia: INSERT INTO publishers(publisher_id, name) VALUES (6, 'Albert&Sweigart')
Ejecución exitosa de la sentencia: INSERT INTO publishers(publisher_id, name) VALUES (7, 'Alfred A. Knopf')
Ejecución exitosa de la sentencia: -- authors
INSERT INTO authors (author_id, first_name, middle_name, last_name) VALUES (1, 'Merritt', null, 'Eric')
Ejecución exitosa de la sentencia: INSERT INTO authors (author_id, first_name, middle_name, last_name) VALUES (2, 'Linda', null, 'Mui')
Ejecución exitosa de la sentencia: INSERT INTO authors (author_id, first_name, middle_name, last_name) VALUES (3, 'Alecos', null, 'Papadatos')
Ejecución exitosa de la sentencia: INSERT INTO authors (author_id, first_name, middle_name, last_name) VALUES (4, 'Anthony', null, 'Molinaro')
Ejecución exitosa de la sentencia: INSERT INTO authors (author_id, first_name, middle_name, last_name) VALUES (5, 'David', null, 'Cronin')
Ejecución exitosa de la sentencia: INSERT INTO authors (author_id, first_name, middle_name, last_name) VALUES (6, 'Richard', null, 'Blum')
Ejecución exitosa de la sentencia: INSERT INTO authors (author_id, first_name, middle_name, last_name) VALUES (7, 'Yuval', 'Noah', 'Harari')
Ejecución exitosa de la sentencia: INSERT INTO authors (author_id, first_name, middle_name, last_name) VALUES (8, 'Paul', null, 'Albitz')
Ejecución exitosa de la sentencia: -- books
INSERT INTO books (book_id, title, total_pages, rating, isbn, published_date, publisher_id) VALUES (1, 'Lean Software Development: An Agile Toolkit', 240, 4.17, '9780320000000', '2003-05-18', 5)
Ejecución exitosa de la sentencia: INSERT INTO books (book_id, title, total_pages, rating, isbn, published_date, publisher_id) VALUES (2, 'Facing the Intelligence Explosion', 91, 3.87, null, '2013-02-01', 7)
Ejecución exitosa de la sentencia: INSERT INTO books (book_id, title, total_pages, rating, isbn, published_date, publisher_id) VALUES (3, 'Scala in Action', 419, 3.74, '9781940000000', '2013-04-10', 1)
Ejecución exitosa de la sentencia: INSERT INTO books (book_id, title, total_pages, rating, isbn, published_date, publisher_id) VALUES (4, 'Patterns of Software: Tales from the Software Community', 256, 3.84, '9780200000000', '1996-08-15', 1)
Ejecución exitosa de la sentencia: INSERT INTO books (book_id, title, total_pages, rating, isbn, published_date, publisher_id) VALUES (5, 'Anatomy Of LISP', 446, 4.43, '9780070000000', '1978-01-01', 3)
Ejecución exitosa de la sentencia: INSERT INTO books (book_id, title, total_pages, rating, isbn, published_date, publisher_id) VALUES (6, 'Computing machinery and intelligence', 24, 4.17, null, '2009-03-22', 4)
Ejecución exitosa de la sentencia: INSERT INTO books (book_id, title, total_pages, rating, isbn, published_date, publisher_id) VALUES (7, 'XML: Visual QuickStart Guide', 269, 3.66, '9780320000000', '2009-01-01', 5)
Ejecución exitosa de la sentencia: INSERT INTO books (book_id, title, total_pages, rating, isbn, published_date, publisher_id) VALUES (8, 'SQL Cookbook', 595, 3.95, '9780600000000', '2005-12-01', 7)
Ejecución exitosa de la sentencia: INSERT INTO books (book_id, title, total_pages, rating, isbn, published_date, publisher_id) VALUES (9, 'The Apollo Guidance Computer: Architecture And Operation (Springer Praxis Books / Space Exploration)', 439, 4.29, '9781440000000', '2010-07-01', 6)
Ejecución exitosa de la sentencia: INSERT INTO books (book_id, title, total_pages, rating, isbn, published_date, publisher_id) VALUES (10, 'Minds and Computers: An Introduction to the Philosophy of Artificial Intelligence', 222, 3.54, '9780750000000', '2007-02-13', 7)
Ejecución exitosa de la sentencia: -- book authors
INSERT INTO book_authors (book_id, author_id) VALUES (1, 1)
Ejecución exitosa de la sentencia: INSERT INTO book_authors (book_id, author_id) VALUES (2, 8)
Ejecución exitosa de la sentencia: INSERT INTO book_authors (book_id, author_id) VALUES (3, 7)
Ejecución exitosa de la sentencia: INSERT INTO book_authors (book_id, author_id) VALUES (4, 6)
Ejecución exitosa de la sentencia: INSERT INTO book_authors (book_id, author_id) VALUES (5, 5)
Ejecución exitosa de la sentencia: INSERT INTO book_authors (book_id, author_id) VALUES (6, 4)
Ejecución exitosa de la sentencia: INSERT INTO book_authors (book_id, author_id) VALUES (7, 3)
Ejecución exitosa de la sentencia: INSERT INTO book_authors (book_id, author_id) VALUES (8, 2)
Ejecución exitosa de la sentencia: INSERT INTO book_authors (book_id, author_id) VALUES (9, 4)
Ejecución exitosa de la sentencia: INSERT INTO book_authors (book_id, author_id) VALUES (10, 1)
Datos insertados en las tablas.

Datos en la tabla publishers:
(1, 'O Reilly Media')
(2, 'A Book Apart')
(3, 'A K PETERS')
(4, 'Academic Press')
(5, 'Addison Wesley')
(6, 'Albert&Sweigart')
(7, 'Alfred A. Knopf')

Datos en la tabla authors:
(1, 'Merritt', None, 'Eric')
(2, 'Linda', None, 'Mui')
(3, 'Alecos', None, 'Papadatos')
(4, 'Anthony', None, 'Molinaro')
(5, 'David', None, 'Cronin')
(6, 'Richard', None, 'Blum')
(7, 'Yuval', 'Noah', 'Harari')
(8, 'Paul', None, 'Albitz')

Datos en la tabla books:
(1, 'Lean Software Development: An Agile Toolkit', 240, 4.17, '9780320000000', '2003-05-18', 5)
(2, 'Facing the Intelligence Explosion', 91, 3.87, None, '2013-02-01', 7)
(3, 'Scala in Action', 419, 3.74, '9781940000000', '2013-04-10', 1)
(4, 'Patterns of Software: Tales from the Software Community', 256, 3.84, '9780200000000', '1996-08-15', 1)
(5, 'Anatomy Of LISP', 446, 4.43, '9780070000000', '1978-01-01', 3)
(6, 'Computing machinery and intelligence', 24, 4.17, None, '2009-03-22', 4)
(7, 'XML: Visual QuickStart Guide', 269, 3.66, '9780320000000', '2009-01-01', 5)
(8, 'SQL Cookbook', 595, 3.95, '9780600000000', '2005-12-01', 7)
(9, 'The Apollo Guidance Computer: Architecture And Operation (Springer Praxis Books / Space Exploration)', 439, 4.29, '9781440000000', '2010-07-01', 6)
(10, 'Minds and Computers: An Introduction to the Philosophy of Artificial Intelligence', 222, 3.54, '9780750000000', '2007-02-13', 7)

Datos en la tabla book_authors:
(1, 1)
(2, 8)
(3, 7)
(4, 6)
(5, 5)
(6, 4)
(7, 3)
(8, 2)
(9, 4)
(10, 1)